<!DOCTYPE html>
{%load static %}
<html>
  <head>
    <title>Snake Bite Prediction System</title>
    <link rel="icon" href="{% static 'css/cobra.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/about/cobra.css'%}">
  </head>
  <body>
    <header>
      <h1 class="header-title">Snake Bite Prediction System</h1>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="home/hospregis">Hospital Registration</a></li>
          <li><a href="home/me">About</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="result">
        <!-- Result section to be populated with prediction results -->
            <img id="snake-image" src = "{%static 'css/about/cobra.png'%}">
            <h2 style="text-align: center; font-size:32px">Indian Cobra</h2>
            <p style="font-size:30px;">The <a href="https://en.wikipedia.org/wiki/Indian_cobra">Cobra</a> is a venomous snake species that belongs to the family Elapidae. They are known for their iconic hood, which they flare when threatened. Here are some key points about the Cobra:</p>

<ul style="font-size:25px;">
  <li><strong>Physical characteristics:</strong> Medium to large-sized snake species that can grow up to 18 feet in length. Has a broad head that is distinct from its neck, and a long, slender body covered in smooth scales. Most species of cobra have a hood, which they flare when threatened to make themselves look larger and more intimidating. Their coloration can vary depending on the species, but is typically a mix of brown, tan, and black.</li>

  <li><strong>Habit and behavior:</strong> Found in a variety of habitats, including forests, grasslands, and even urban areas. Usually active during the day, but some species are also active at night. Generally solitary animals, except during the breeding season. Known for being aggressive and defensive, and will strike if threatened or cornered.</li>

  <li><strong>Diet:</strong> Carnivorous, with a diet that consists mainly of small mammals, birds, and reptiles. Uses its venomous bite to immobilize and kill its prey, and then swallows it whole.</li>

  <li><strong>Conservation status:</strong> Not currently listed as endangered, but populations are declining due to habitat loss, fragmentation, and overhunting. Also facing threats from the illegal wildlife trade, as their venom is highly sought after for use in traditional medicines and as a recreational drug.</li>
</ul>

      </div>
    </main>
    <footer>
      <p>&copy; 2025 Snake Bite Prediction System</p>
    </footer>

  </body>
</html>
