<!DOCTYPE html>
{% load static%}
<html>
  <head>
    <title>Snake Bite Prediction System</title>
    <link rel="icon" href="{% static 'css/cobra.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/about/cobra.css'%}">
  </head>
  <body>
    <header>
      <h1 class="header-title">Snake Bite Prediction System</h1>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="home/hospregis">Hospital Registration</a></li>
          <li><a href="home/me">About</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="result" >
        <!-- Result section to be populated with prediction results -->
            <img id="snake-image" src = "{%static 'css/about/python.jpg'%}">
            <h2 style="text-align: center; font-size:32px">Python</h2>
              <p style="font-size:30px;">The <a href="https://en.wikipedia.org/wiki/Pythonidae">Python Snake</a> is a non-venomous snake species that belongs to the family Pythonidae. It is native to Africa, Asia, and parts of Australia. Here are some key points about the Python Snake:</p>

              <ul style="font-size:25px;">
                  <li><strong>Physical characteristics:</strong> One of the largest snakes in the world, can grow up to 30 feet in length. Has a broad, flat head and a muscular body covered in small, overlapping scales. Its coloration can vary depending on the species, but is typically a mix of brown, tan, and black, with blotches or stripes that help it to blend into its environment. Has a long, flexible body that allows it to move quickly and easily through its habitat.</li>

                  <li><strong>Habit and behavior:</strong> Found in a variety of habitats, including forests, grasslands, and even deserts. Some species are arboreal, meaning they live in trees, while others are terrestrial, living on the ground. They are generally solitary animals, except during the breeding season. Can be active during both the day and night, depending on the species and the local climate.</li>

                  <li><strong>Diet:</strong> Carnivorous, with a diet that consists mainly of small mammals, birds, and reptiles. Known for their ability to constrict their prey, using their powerful muscles to squeeze their prey until it suffocates. Then swallow their prey whole, using their flexible jaws and stretchy skin to accommodate even large prey like antelopes, pigs, and deer.</li>

                  <li><strong>Conservation status:</strong> Some species of Python Snake are listed as endangered or critically endangered, due to habitat loss and overhunting for their skins. Others are listed as invasive species in areas where they have been introduced, as they can have</li>

              </ul>

      </div>
    </main>
    <footer>
      <p>&copy; 2025 Snake Bite Prediction System</p>
    </footer>

  </body>
</html>
