<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <title>Snake Bite Prediction System</title>
    <link rel="icon" href="{% static 'css/cobra.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/about/cobra.css'%}">
  </head>
  <body>
    <header>
      <h1 class="header-title">Snake Bite Prediction System</h1>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="home/hospregis">Hospital Registration</a></li>
          <li><a href="home/me">About</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="result">
        <!-- Result section to be populated with prediction results -->
            <img id="snake-image" src = "{%static 'css/about/russel.jpg'%}">
            <h2 style="text-align: center; font-size:32px">Russell's Viper</h2>
            <p style="font-size:30px;"><a href="https://en.wikipedia.org/wiki/Russell%27s_viper">Russell's Viper</a> is a venomous snake species that belongs to the family Viperidae. It is found in Asia and is known for its deadly venom. Here are some key points about Russell's Viper:</p>

            <ul style="font-size:25px;">
              <li><strong>Physical characteristics:</strong> Medium-sized viper, can grow up to 5 feet in length. Has a triangular-shaped head that is wider than its neck, and a stocky, muscular body covered in small, keeled scales. Its coloration can vary depending on the subspecies, but is typically a mix of brown, tan, and black, with distinctive dark brown or black zigzag bands or spots on its back. Has a pair of long, hollow fangs that are used to inject venom into its prey or potential threats.</li>

              <li><strong>Habit and behavior:</strong> Found in a variety of habitats, including forests, grasslands, and even urban areas. Usually active during the night, but can also be active during the day. Generally solitary animals, except during the breeding season. Known for being aggressive and defensive, and will strike if threatened or cornered.</li>

              <li><strong>Diet:</strong> Carnivorous, with a diet that consists mainly of small mammals, birds, and reptiles. Uses its venomous bite to immobilize and kill its prey, and then swallows it whole.</li>

              <li><strong>Conservation status:</strong> Not currently listed as endangered, but populations are declining due to habitat loss, fragmentation, and overhunting. Also facing threats from the illegal wildlife trade, as its venom is highly sought after for use in traditional medicines and as a recreational drug.</li>
            </ul>


      </div>
    </main>
    <footer>
      <p>&copy; 2025 Snake Bite Prediction System</p>
    </footer>

  </body>
</html>
