{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <title>Snake Bite Prediction System</title>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
  </head>
  <body>
    <header>
      <h1 class="header-title">Snake Bite Prediction System</h1>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="home/hospregis">Hospital Registration</a></li>
          <li><a href="home/me">About</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </nav>
    </header>
    <h2 style="text-align:  center;">The Registration is Complited!</h2>
    <footer>
      <p>&copy; 2025 Snake Bite Prediction System</p>
    </footer>

  </body>
</html>
