<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <title>Snake Bite Prediction System</title>
    <link rel="icon" href="{% static 'css/cobra.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/about/cobra.css'%}">
  </head>
  <body>
    <header>
      <h1 class="header-title">Snake Bite Prediction System</h1>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <div id="result">
          <!-- Result section to be populated with prediction results -->
              <img id="snake-image" src = "{%static 'css/ProfessionalTreatment/pt.jpg'%}" style="height: 100px; width: 100px;">
              <h2 style="text-align: center; font-size: 32; color: #424141;">Professional treatments on Python Bite</h2>
              <p style="font-size: 30;">The bite of a python is a medical emergency and requires immediate professional treatment. Here is the general process of professional treatment for a python bite:</p>
              <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Call for medical help:</strong> If you or someone you know has been bitten by a python, the first step is to call for medical help immediately. The victim should be taken to the nearest hospital as soon as possible.</p>
              <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Keep the affected area still:</strong> It is important to keep the affected area still and at or below the level of the heart to slow down the spread of any venom or bacteria that may be present in the python's mouth. Moving around or elevating the affected area can increase the spread of any harmful substances throughout the body.</p>
              <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Clean and dress the wound:</strong> The wound should be cleaned and dressed as soon as possible to help prevent infection. This may involve irrigation with sterile saline or other antiseptic solutions, as well as the application of bandages or other dressings to help protect the wound.</p>
              <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Identify the snake:</strong> If possible, try to identify the python that caused the bite. This can help medical professionals determine the appropriate treatment and whether or not any specific antivenom is necessary.</p>
              <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Administer antivenom:</strong> Antivenom may be used in some cases of python bites, particularly if the snake is venomous. However, since most pythons are not venomous, antivenom is usually not necessary.</p>
              <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Manage symptoms:</strong> Other treatments may be given to manage symptoms such as pain, swelling, and infection. These treatments may include pain relievers, anti-inflammatory medications, antibiotics, and wound care.</p>
              <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Follow-up care:</strong> After treatment, the patient will likely need to stay in the hospital for observation and further treatment. They may also need follow-up care to monitor for any long-term effects of the python bite, such as scarring, nerve damage, or other complications.</p>
              <p style="font-size: 30;">Overall, the treatment of a python bite requires prompt medical attention and specialized care to ensure the best possible outcome for the patient.</p>

        </div>
      </main>


    <footer>
      <p>&copy; 2023 Snake Bite Prediction System</p>
    </footer>

  </body>
</html>
