<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <title>Snake Bite Prediction System</title>
    <link rel="icon" href="{% static 'css/cobra.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/about/cobra.css'%}">
  </head>
  <body>
    <header>
      <h1 class="header-title">Snake Bite Prediction System</h1>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="result">
        <!-- Result section to be populated with prediction results -->
            <img id="snake-image" src = "{%static 'css/ProfessionalTreatment/pt.jpg'%}" style="height: 100px; width: 100px;">
            <h2 style="text-align: center; font-size: 32; color: #424141;">Professional treatments on Russell's Viper Bite</h2>
            <p style="font-size: 30;">The bite of the Russell's Viper is a medical emergency and requires immediate professional treatment. Here is the general process of professional treatment for a bite from a Russell's Viper:</p>
            <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Call for medical help:</strong> If you or someone you know has been bitten by a Russell's Viper, the first step is to call for medical help immediately. The victim should be taken to the nearest hospital as soon as possible.</p>
            <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Keep the affected area still:</strong> It is important to keep the affected area still and at or below the level of the heart to slow down the spread of the venom. Moving around or elevating the affected area can increase the spread of venom throughout the body.</p>
            <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Identify the snake:</strong> If possible, try to identify the snake that caused the bite. This can help medical professionals determine the type of venom and the appropriate treatment.</p>
            <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Administer antivenom:</strong> Antivenom is the primary treatment for a Russell's Viper bite. It is a type of medicine that neutralizes the venom and prevents it from causing further harm. The antivenom is typically administered intravenously in a hospital setting.</p>
            <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Monitor the patient:</strong> After administering the antivenom, the patient will be closely monitored for a period of time to make sure they are responding well to the treatment. If necessary, additional doses of antivenom may be given.</p>
            <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Manage symptoms:</strong> In addition to antivenom, other treatments may be given to manage symptoms such as pain, swelling, and difficulty breathing. These treatments may include pain relievers, corticosteroids, and oxygen therapy.</p>
            <p><strong style="color:rgb(30, 111, 192); font-size: 25;">Follow-up care:</strong> After treatment, the patient will likely need to stay in the hospital for observation and further treatment. They may also need follow-up care to monitor for any long-term effects of the snakebite.</p>
            <p style="font-size: 30;">Overall, the treatment of a Russell's Viper bite requires prompt medical attention and specialized care to ensure the best possible outcome for the patient.</p>

      </div>
    </main>


    <footer>
      <p>&copy; 2023 Snake Bite Prediction System</p>
    </footer>

  </body>
</html>
